<p>&nbsp;</p>
<div class="container">
    <h1>Clientes</h1> 
    <div style="font-size:20px;color:#007bff;cursor: pointer;" (click)="abrirModalNuevo()"><i class="fas fa-plus-circle"></i> Agregar Cliente </div>

    <p>&nbsp;</p>

    <div class="list-group">
      <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let data of groupList">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{data.nombres}}</h5>
          <small><i class="fas fa-pen" (click)="buscarById(data.id)" style="font-size: 20px;color:#007bff;cursor: pointer;"></i></small>
        </div>
        <p class="mb-1"><i class="fas fa-at"></i> {{data.email}}</p>
        <p class="mb-1"><i class="fas fa-phone-square"></i> {{data.telefono}}</p>
      </div>
    </div>
    


</div>


<!-- Modal Registrar -->
<div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label style="color:#bdc3c7">Ficha de Registro de clientes</label>
        <br/>

        <form #insertaForm="ngForm" (ngSubmit)="inserta(insertaForm)">
            <label>Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombres Completos" required ngModel>
            <label>Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required ngModel>
            <label>Teléfono:</label>
            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Teléfono" ngModel>
            <br/>
            <button class="btn btn-primary btn-block" type="submit">Registrar Cliente</button> 
        </form>
        
        <p>&nbsp;</p> 
      </div>
    </div>
  </div>
</div>


<!-- Modal editar -->
<div class="modal fade" id="ModalEditaRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label style="color:#bdc3c7">Ficha Edición de Clientes</label>
        <br/>
        <form #actualizaForm="ngForm" (ngSubmit)="actualiza(actualizaForm)">
            <input type="text" class="form-control" name="idCliente" id="idCliente" style="display:none" required ngModel="{{idCli}}">
            <label>Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre"   required ngModel={{nombresCli}}>
            <label>Email:</label>
            <input type="text" class="form-control" name="email" id="email"  required ngModel="{{emailCli}}">
            <label>Teléfono:</label>
            <input type="text" class="form-control" name="telefono" id="telefono"  ngModel ="{{telefonoCli}}">
            <br/>
            <button class="btn btn-primary btn-block" type="submit">Guardar Datos</button> 
        </form>
        <p>&nbsp;</p> 
      </div>
    </div>
  </div>
</div>
