<p>&nbsp;</p>
<div class="container">
    <h1>Reporte de Asistencias</h1> 

    <br/>
    <div class="row">
        <div class="col-sm">
            <form #listaForm="ngForm" (ngSubmit)="llamarLista(listaForm)">
            <div class="input-group">
                <input type="date" class="form-control" name="dateData" id="dateData" [(ngModel)]="hoy">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" id="button-addon3">Buscar</button>
                </div>
              </div>
            </form>
        </div>
        <div class="col-sm"></div> 
        <div class="col-sm" align="right">
          filtros
        </div>
    </div>

    <p>&nbsp;</p>
    <div class="list-group">
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let data of relacionTrabajadores">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{data.nombres}}</h5>
            <small>
            </small>
        </div>
        <p class="mb-1"><i class="fas fa-address-card"></i> {{data.cargo}}</p>
        <p class="mb-1"><i class="fas fa-map-marker"></i> {{data.local}}</p>
        <p class="mb-1"><i class="far fa-clock"></i> {{data.entrada}}</p> 
        <p class="mb-1"><i class="far fa-clock"></i> {{data.salida}}</p> 
        </div>
  </div>

</div> 