
<p>&nbsp;</p>

<div class="container">
  <h1>Personal</h1> 
  
<p>&nbsp;</p>

    <div class="list-group">
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let data of groupList">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{data.nombres}}</h5>
            <small>
              <i class="fas fa-user-check" (click)="agregarMarcacion(data.id)" style="font-size: 20px;color:#007bff;cursor: pointer;"></i>
            </small>
        </div>
        <p class="mb-1"><i class="fas fa-address-card"></i> {{data.cargo}}</p>
        <p class="mb-1"><i class="fas fa-user-check"></i> {{data.reporte}}</p>
        </div>
  </div>
</div>